In [2]:
#Importing dependencies
import pandas as pd

In [3]:
#reference path where CSV file is located
path = "Resources/crime_incident_data2017.csv"

In [5]:
#reading and converting to DataFrame
incident_df = pd.read_csv(path)
incident_df.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
0,NaN,17-X4762181,Person,NaN,1,1/1/96,1/1/96,800,Sex Offenses,1,Rape,NaN,NaN,NaN,NaN,1/26/17,1/1/17
1,NaN,17-X4757824,Property,Centennial,1,1/20/00,1/1/00,1615,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/20/17,1/1/17
2,200 BLOCK OF SE 78TH AVE,17-900367,Property,Montavilla,1,12/1/03,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5207,-122.583,7668150.0,682825.0,1/9/17,1/1/17
3,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/5/17,1/1/17
4,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Larceny Offenses,1,All Other Larceny,NaN,NaN,NaN,NaN,1/5/17,1/1/17

In [8]:
#looking for missing values
incident_df.count()

Address              37365
Case Number          41032
Crime Against        41032
Neighborhood         39712
Number of Records    41032
Occur Date           41032
Occur Month Year     41032
Occur Time           41032
Offense Category     41032
Offense Count        41032
Offense Type         41032
Open Data Lat        36712
Open Data Lon        36712
Open Data X          36712
Open Data Y          36712
Report Date          41032
Report Month Year    41032
dtype: int64

In [9]:
#removing rows with null values
incident_df = incident_df.dropna(how="any")
incident_df.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
2,200 BLOCK OF SE 78TH AVE,17-900367,Property,Montavilla,1,12/1/03,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5207,-122.583,7668150.0,682825.0,1/9/17,1/1/17
5,5400 BLOCK OF NE MALLORY AVE,17-900129,Property,King,1,11/28/10,11/1/10,1612,Fraud Offenses,1,Identity Theft,45.5625,-122.664,7647987.0,698581.0,1/3/17,1/1/17
6,5000 BLOCK OF NE 19TH AVE,17-901079,Property,Vernon,1,11/8/13,11/1/13,1200,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5594,-122.646,7652567.0,697337.0,1/26/17,1/1/17
7,5000 BLOCK OF NE 19TH AVE,17-901079,Property,Vernon,1,11/8/13,11/1/13,1200,Fraud Offenses,1,Identity Theft,45.5594,-122.646,7652567.0,697337.0,1/26/17,1/1/17
8,12000 BLOCK OF SE PINE ST,17-900253,Property,Hazelwood,1,1/6/14,1/1/14,805,Fraud Offenses,1,Credit Card/ATM Fraud,45.5204,-122.539,7679522.0,682404.0,1/6/17,1/1/17

In [10]:
#verifying counts
incident_df.count()

Address              36146
Case Number          36146
Crime Against        36146
Neighborhood         36146
Number of Records    36146
Occur Date           36146
Occur Month Year     36146
Occur Time           36146
Offense Category     36146
Offense Count        36146
Offense Type         36146
Open Data Lat        36146
Open Data Lon        36146
Open Data X          36146
Open Data Y          36146
Report Date          36146
Report Month Year    36146
dtype: int64

In [11]:
#checking to see if there are any similar or mispelled values
incident_df["Offense Type"].value_counts()

Theft From Motor Vehicle                       6947
Motor Vehicle Theft                            4689
All Other Larceny                              4558
Vandalism                                      3863
Burglary                                       2824
Shoplifting                                    2259
Identity Theft                                 1794
Simple Assault                                 1216
Drug/Narcotic Violations                       1095
Theft of Motor Vehicle Parts or Accessories    1073
Intimidation                                    900
Theft From Building                             895
False Pretenses/Swindle/Confidence Game         870
Aggravated Assault                              839
Robbery                                         608
Counterfeiting/Forgery                          448
Weapons Law Violations                          266
Credit Card/ATM Fraud                           226
Arson                                           200
Prostitution                                    145
Pocket-Picking                                   94
Purse-Snatching                                  89
Embezzlement                                     73
Stolen Property Offenses                         57
Kidnapping/Abduction                             22
Theft From Coin-Operated Machine or Device       20
Hacking/Computer Invasion                        19
Animal Cruelty                                   17
Pornography/Obscene Material                     10
Extortion/Blackmail                               8
Assisting or Promoting Prostitution               7
Drug Equipment Violations                         6
Impersonation                                     4
Wire Fraud                                        3
Commercial Sex Acts                               1
Welfare Fraud                                     1
Name: Offense Type, dtype: int64

In [12]:
#combining similar offenses together
incident_df = incident_df.replace({"Theft From Motor Vehicle":"Motor Vehicle Theft"})

In [14]:
incident_df["Offense Type"].value_counts()

Motor Vehicle Theft                            11636
All Other Larceny                               4558
Vandalism                                       3863
Burglary                                        2824
Shoplifting                                     2259
Identity Theft                                  1794
Simple Assault                                  1216
Drug/Narcotic Violations                        1095
Theft of Motor Vehicle Parts or Accessories     1073
Intimidation                                     900
Theft From Building                              895
False Pretenses/Swindle/Confidence Game          870
Aggravated Assault                               839
Robbery                                          608
Counterfeiting/Forgery                           448
Weapons Law Violations                           266
Credit Card/ATM Fraud                            226
Arson                                            200
Prostitution                                     145
Pocket-Picking                                    94
Purse-Snatching                                   89
Embezzlement                                      73
Stolen Property Offenses                          57
Kidnapping/Abduction                              22
Theft From Coin-Operated Machine or Device        20
Hacking/Computer Invasion                         19
Animal Cruelty                                    17
Pornography/Obscene Material                      10
Extortion/Blackmail                                8
Assisting or Promoting Prostitution                7
Drug Equipment Violations                          6
Impersonation                                      4
Wire Fraud                                         3
Welfare Fraud                                      1
Commercial Sex Acts                                1
Name: Offense Type, dtype: int64

In [15]:
incident_df = incident_df.replace({"Theft from Building":"Robbery", "Purse-Snatching":"Robbery", "Stolen Property Offenses":"Robbery", "Commercial Sex Acts":"Prostitution", "Assisting or Promoting Prostitution":"Prostitution"})
incident_df["Offense Type"].value_counts()

Motor Vehicle Theft                            11636
All Other Larceny                               4558
Vandalism                                       3863
Burglary                                        2824
Shoplifting                                     2259
Identity Theft                                  1794
Simple Assault                                  1216
Drug/Narcotic Violations                        1095
Theft of Motor Vehicle Parts or Accessories     1073
Intimidation                                     900
Theft From Building                              895
False Pretenses/Swindle/Confidence Game          870
Aggravated Assault                               839
Robbery                                          754
Counterfeiting/Forgery                           448
Weapons Law Violations                           266
Credit Card/ATM Fraud                            226
Arson                                            200
Prostitution                                     153
Pocket-Picking                                    94
Embezzlement                                      73
Kidnapping/Abduction                              22
Theft From Coin-Operated Machine or Device        20
Hacking/Computer Invasion                         19
Animal Cruelty                                    17
Pornography/Obscene Material                      10
Extortion/Blackmail                                8
Drug Equipment Violations                          6
Impersonation                                      4
Wire Fraud                                         3
Welfare Fraud                                      1
Name: Offense Type, dtype: int64

In [19]:
#creating a new DataFrame that looks into King neighborhood
king_incidents = incident_df.loc[incident_df["Neighborhood"]=="King",:]
king_incidents.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
5,5400 BLOCK OF NE MALLORY AVE,17-900129,Property,King,1,11/28/10,11/1/10,1612,Fraud Offenses,1,Identity Theft,45.5625,-122.664,7647987.0,698581.0,1/3/17,1/1/17
390,5500 BLOCK OF NE MARTIN LUTHER KING JR BLVD,17-9250,Property,King,1,12/10/16,12/1/16,0,Larceny Offenses,1,All Other Larceny,45.5631,-122.661,7648603.0,698786.0,1/10/17,1/1/17
611,900 BLOCK OF NE ALBERTA ST,17-900046,Property,King,1,1/1/17,1/1/17,925,Larceny Offenses,1,All Other Larceny,45.5592,-122.656,7649920.0,697323.0,1/2/17,1/1/17
708,NE 6TH AVE / NE BEECH ST,17-1842,Society,King,1,1/2/17,1/1/17,2144,Weapon Law Violations,1,Weapons Law Violations,45.5495,-122.660,7648922.0,693827.0,1/2/17,1/1/17
715,1400 BLOCK OF NE ALBERTA ST,17-900118,Property,King,1,1/1/17,1/1/17,1355,Vandalism,1,Vandalism,45.5591,-122.651,7651172.0,697285.0,1/3/17,1/1/17