In [64]:
import pandas as pd

In [65]:
path = "Resources/KickstarterData.csv"
kickstarter_df = pd.read_csv(path)

In [66]:
kickstarter_df.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,1645666704,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",The Class Act Players Theatre Company Presents...,The Class Act Players put on another one of th...,1500.0,2925.0,successful,the-class-act-players-theatre-company-presents...,False,US,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,874638240,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,"A brand new play about love and entitlement, b...",2500.0,2936.0,successful,mr-incredible-by-camilla-whitehill-vault-festival,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,247074984,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",RUN,Yonni's pissed off in a world filled with scho...,1000.0,1200.0,successful,run-10,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,1941196813,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",9th International Meeting of Youth Theatre sap...,27. April bis 1. Mai 2016 in Brixen/Südtirol/I...,2000.0,2135.0,successful,9th-international-meeting-of-youth-theatre-sap...,False,IT,...,"{""country"":""IT"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,421961595,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Get Conti to the Ed Fringe!,The Italia Conti 2nd years are going to Ed Fri...,1000.0,1250.0,successful,get-conti-to-the-ed-fringe,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [67]:
#extracting relevant columns for analysis
extracted_kickstarter_df = kickstarter_df[["name", "goal", "pledged", "state", "country", "staff_pick",
                                          "backers_count", "spotlight"]]
extracted_kickstarter_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [68]:
# removing projects that had no pledges
extracted_kickstarter_df = extracted_kickstarter_df.loc[extracted_kickstarter_df["pledged"]>0]
extracted_kickstarter_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [69]:
#creating new dataframe that is filtered to campaigns only in the US
columns = ["name", "goal", "pledged", "state", "country","staff_pick", "backers_count", "spotlight"]US
usa_kickstarter_df = extracted_kickstarter_df.loc[extracted_kickstarter_df["country"]=="US", columns]
usa_kickstarter_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True
14,Pride Con,15000.0,15110.0,successful,US,False,60,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True

In [70]:
# column that has average amount pledged per backer
average_pledge = usa_kickstarter_df["pledged"]/usa_kickstarter_df["backers_count"]
average_pledge

0       172.058824
8       106.323529
11       76.537879
14      251.833333
15      128.825000
           ...
4109     51.219512
4110    100.171429
4115    119.192488
4117     66.111111
4118     52.000000
Length: 2129, dtype: float64

In [71]:
#formating Goals and Pledge columns and also adding in average donation with same formatting
usa_kickstarter_df["goal"] = pd.to_numeric(usa_kickstarter_df["goal"])
usa_kickstarter_df["pledged"] = pd.to_numeric(usa_kickstarter_df["pledged"])
usa_kickstarter_df["goal"] = usa_kickstarter_df["goal"].map("${:,.2f}".format)
usa_kickstarter_df["pledged"] = usa_kickstarter_df["pledged"].map("${:,.2f}".format)
usa_kickstarter_df["average donation"] = average_pledge.map("${:,.2f}".format)
usa_kickstarter_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,average donation
0,The Class Act Players Theatre Company Presents...,"$1,500.00","$2,925.00",successful,US,False,17,True,$172.06
8,Forefront Festival 2015,"$7,200.00","$7,230.00",successful,US,False,68,True,$106.32
11,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.54
14,Pride Con,"$15,000.00","$15,110.00",successful,US,False,60,True,$251.83
15,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.82

In [72]:
#total number of backers in the data
total_backers = usa_kickstarter_df["backers_count"].sum()
total_backers

89273

In [73]:
#average number of backers for US campaigns
average_backers = usa_kickstarter_df["backers_count"].mean()
average_backers

41.931892907468296

In [81]:
#creating new df for only those campaigns that were staff picked
staffpicked_kickstarter_df = usa_kickstarter_df.loc[usa_kickstarter_df["staff_pick"]==True]
staffpicked_kickstarter_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,average donation
11,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.54
15,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.82
39,"""Poor People"" at FringeNYC 2015","$5,500.00","$5,682.00",successful,US,True,34,True,$167.12
44,Queen Mab's Steampunk and Fairie Street Festival,"$1,300.00","$3,363.00",successful,US,True,62,True,$54.24
45,RAFT: a new play by Emily Kitchens,"$7,500.00","$7,826.00",successful,US,True,120,True,$65.22

In [85]:
# grouping by the current state of each staff-picked campaign (about 83%)
grouped_staffpicked_df = staffpicked_kickstarter_df.groupby(['state'])
grouped_staffpicked_df["name"].count()

state
canceled        6
failed         21
live            2
successful    145
Name: name, dtype: int64